body {
    background: #224941 url('../img/bg.jpg') no-repeat center center/cover;
    color: #eeeeee;
    font-family: Arial;
    max-width: 850px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.main-content {
    flex-grow: 1;
}


footer {
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

.titel {
    animation: textwelle 2s;  
}

@keyframes textwelle {
    0 {
      font-size: 0;
      opacity: 0;
    }
    70%{
        font-size: 18px;
        opacity: 1;  
    }
    80%{
        font-size: 26px;
        opacity: 1;  
    }
    90% {
      font-size: 36px;
      opacity: 1;
    }
    100% {
      font-size: 48px;
      opacity: 1;	
    }
  }

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

header a {
    color: #dddddd;
    margin-right: 16px;
    text-decoration: none;
}

.portrait {
    width: 250px;
}

input {
    border: 1px solid #cccccc;
    padding: 8px;
}

button {
    cursor: pointer;
    border: 1px solid #888888;
    background: #888888;
    color: white;
    padding: 8px;
}